<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="Gkgonline_Quotation_post_listing_data_source" xsi:type="string">Gkgonline\Quotation\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Gkgonline\Quotation\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">Gkgonline_Quotation_post</argument>
            <argument name="resourceModel" xsi:type="string">Gkgonline\Quotation\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <type name="Gkgonline\Quotation\Controller\Index\Example">
        <plugin name="Gkgonline_Quotation_Plugin" type="Gkgonline\Quotation\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="exampleSayHello" xsi:type="object">Gkgonline\Quotation\Console\Sayhello</item>
            </argument>
        </arguments>
    </type>

</config>